$soft-pink:#baabda80;

$dark-pink:#D77FA1;
$off-pink:#F6DFEB;
$in-pink:#E4BAD4;

$soft-blue:#D6E5FA;

$dark-gray:#423737;
$soft-gray:#edecec;
$soft-gray-hover:#d5d5d5;
$opac-gray:#4237376b;
$opac-soft-gray:#42373726;

$good-white:#ffffff;

$soft-green:#CAF7E3;
$off-green:#EDFFEC;

$soft-yellow:#ECE5C7;

$green-success:#54BAB9;

a{
    text-decoration: none;
}

.side-menu{
    transition: all 0.2s ease-in-out;
    background: $soft-pink;
 
    & .logo{
        height: 100%;
        width: 100%;
    }

    & .nav{
        padding:5px 10px;
        transition: all 0.25s linear;
        //flex="0 0 30px" flexGap="20px" width="100%" justifyContent="start" alignItems="center"
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex: 0 0 30px; 
        width:100%;
        box-sizing: border-box;

        &:hover{
            // transform: scale3d(0.9, 0.9, 0.9);
            transform: translateX(3px);
            background: $soft-blue;
            border-radius: 4px;

            & .nav-name{
                color: $dark-pink;
            }

            // & .nav-icon{
            //     fill: $dark-pink;
            //     stroke: $dark-pink;
            // }
            & .nav-icon{
                color: $dark-pink;
            }
        }
        
        & .nav-name{
            color: $dark-gray;
            font-size: 1.1rem;
        }
        
        // & .nav-icon{
        //     width: 100%;
        //     fill: $dark-gray;
        //     stroke:$dark-gray;
        //     stroke-width: 1.3rem;
        //     margin-right: 20px;
        // }

        & .nav-icon{
            width: 100%;
            color: $dark-gray;
            stroke-width: 1.3rem;
            margin-right: 20px;
            font-size: 1.4rem;
        }

    }

}

.main-body{
    background: $soft-blue;
    border-radius: 4px;
}

.search{
    width: 100%;
    padding: 0px 20px;
    border: 1px solid $soft-pink;
    border-radius: 4px;
    height: 45px;
    font-size: 1rem;
    color: $dark-gray;
    &:focus,&:active{
        outline: red;
    }
}

.search-button{
    width: 40px;
    height: 40px;
    border: none;
    background: $soft-gray;
    border-radius: 4px;
    line-height: 100%;
    padding: 8px;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover{
        background-color: $soft-gray-hover;
        transform: scale(1.1);
    }
}

// Styles for Products components
.product-wrapper{
    & .product-header{
        background: $soft-pink;
        font-size: 1.5rem;
        color: $dark-gray;
    }
    & .product-body{
        // border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow:  0px 0px 4px 0px $soft-pink;
        color: $dark-gray;
        background: $good-white;
        & > div:not(:last-child){
            border-bottom: 1px solid $soft-gray;
        }
    }
}