@import  './globalStyles.scss';

.noteWrapper{
    background: $soft-blue;
    height: 100%;
    // position: relative;
    @media screen and (max-width:576px) {
        position: relative;
    }
}

.noteSearch__wrapper{
    margin-bottom:15px;
    @media screen and (max-width:576px) {
        flex-basis: 60px !important;
        margin-bottom: 5px;
    }
}

.noteSearch__form{
    &,&>.noteSearch>input{
        @media screen and (max-width:576px) {
            width: 100%;
        }
    }
}

.noteSearch{
    position: relative;
    &>input{
        padding-left: 30px;
        height: 40px;
        width: 320px;
        border-radius: 4px;
        border: none;
        box-shadow: 0px 0px 7px 1px $soft-pink;
        &:focus, &:focus-visible{
            border: 1px solid $dark-gray;
            outline: none;
        }
    }
}

.noteSearch__icon{
    position: absolute;
    z-index: 1;
    left: 7px;
    top: 10px;
    font-size: 1.2rem;
}

.addNoteSec{
    border-right: 1px solid $soft-pink;
    height: 100%;
    transition: all 0.5s linear;

    & .noteLogo{
        margin-bottom:20px;
    }
    @media screen and (max-width:375px) {
        flex-basis: 60px !important;
    }
    @media screen and (max-width:576px) {
        position: absolute;
        right: 15px;
        bottom: 15px;
        z-index: 1;
        flex-direction: column-reverse !important;
        // height: 323px !important;
        border: none !important;
        & .noteLogo{
            display: none;
        }
        &+div{
            padding: 0 10px !important;
        }
    }
    // &+div{
    //     @media screen and (max-width:576px) {
    //      padding: 0 10px;   
    //     }
    // }
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    // 25% {transform: rotate(180deg);}
    50% {transform: rotate(360deg);}
    // 75% {transform: rotate(-180deg);}
    100% {transform: rotate(0deg);}
}

// define animation for normal view other than mobile
@media screen and (min-width:577px) {
    @keyframes firstDot {
        0% {
            transform: translateY(0px) rotate(45deg);
            border-radius: 1px 10px 10px 10px;
           
        }
        // 90% {transform: translateY(53px);}
        100% {
            transform: translateY(50px) rotate(45deg);
            border-radius: 10px;
        }
    }
    
    @keyframes secondDot {
        0% {
            transform: translateY(0px) rotate(45deg);
            border-radius: 1px 10px 10px 10px;
        }
        // 50% {transform: translateY(50px);}
        // 90% {transform: translateY(103px);}
        100% {
            transform: translateY(100px) rotate(45deg);
            border-radius: 10px;
        }
    }
    
    @keyframes thirdDot {
        0% {
            transform: translateY(0px) rotate(45deg);
            border-radius: 1px 10px 10px 10px;
        }
        // 30% {transform: translateY(50px);}
        // 90% {transform: translateY(153px);}
        100% {
            transform: translateY(150px) rotate(45deg);
            border-radius: 10px;
        }
    }
    
    @keyframes fourthDot {
        0% {
            transform: translateY(0px) rotate(45deg);
            border-radius: 1px 10px 10px 10px;
        }
        // 50% {transform: translateY(50px);}
        // 90% {transform: translateY(103px);}
        100% {
            transform: translateY(200px) rotate(45deg);
            border-radius: 10px;
        }
    }
    
    @keyframes fifthDot {
        0% {
            transform: translateY(0px) rotate(45deg);
            border-radius: 1px 10px 10px 10px;
        }
        // 30% {transform: translateY(50px);}
        // 90% {transform: translateY(153px);}
        100% {
            transform: translateY(250px) rotate(45deg);
            border-radius: 10px;
        }
    }

    @keyframes sixthDot {
        0% {
            transform: translateY(0px);
            border-radius: 10px;
        }
        // 30% {transform: translateY(50px);}
        // 90% {transform: translateY(153px);}
        100% {
            transform: translateY(300px) rotate(45deg);
            border-radius: 1px 10px 10px 10px;
        }
    }
    
    // for dots to be in reverse direction
    @keyframes firstDotBack {
        0% {transform: translateY(50px) rotate(45deg);}
        // 90% {transform: translateY(53px);}
        100% {
            transform: translateY(0px) rotate(45deg); 
            z-index: -1;
        }
    }
    
    @keyframes secondDotBack {
        0% {transform: translateY(100px) rotate(45deg);}
        // 50% {transform: translateY(50px);}
        // 90% {transform: translateY(103px);}
        100% {
            transform: translateY(0px) rotate(45deg);
            z-index: -1;
        }
    }
    
    @keyframes thirdDotBack {
        0% {transform: translateY(150px) rotate(45deg);}
        // 30% {transform: translateY(50px);}
        // 90% {transform: translateY(153px);}
        100% {
            transform: translateY(0px) rotate(45deg);
            z-index: -1;
        }
    }
    
    @keyframes fourthDotBack {
        0% {transform: translateY(200px) rotate(45deg);}
        // 50% {transform: translateY(50px);}
        // 90% {transform: translateY(103px);}
        100% {
            transform: translateY(0px) rotate(45deg);
            z-index: -1;
        }
    }
    
    @keyframes fifthDotBack {
        0% {transform: translateY(250px) rotate(45deg);}
        // 30% {transform: translateY(50px);}
        // 90% {transform: translateY(153px);}
        100% {
            transform: translateY(0px) rotate(45deg);
            z-index: -1;
        }
    }

    @keyframes sixthDotBack {
        0% {
            transform: translateY(300px) rotate(45deg);
            border-radius: 1px 10px 10px 10px;
        }
        // 30% {transform: translateY(50px);}
        // 90% {transform: translateY(153px);}
        100% {
            transform: translateY(0px) rotate(45deg);
            border-radius: 10px;
        }
    }
}

// define keyframes for mobile view
@media screen and (max-width:576px) {

    @keyframes firstDot {
        0% {
            transform: translateY(0px) rotate(-45deg);
            border-radius: 10px 10px 10px 1px;
        }
        // 90% {transform: translateY(53px);}
        100% {
            transform: translateY(-50px) rotate(-45deg);
            border-radius: 10px;
        }
    }

    @keyframes secondDot {
        0% {
            transform: translateY(0px) rotate(-45deg);
            border-radius: 10px 10px 10px 1px;
        }
        // 50% {transform: translateY(50px);}
        // 90% {transform: translateY(103px);}
        100% {
            transform: translateY(-100px) rotate(-45deg);
            border-radius: 10px;
        }
    }

    @keyframes thirdDot {
        0% {
            transform: translateY(0px) rotate(-45deg);
            border-radius: 10px 10px 10px 1px;
        }
        // 30% {transform: translateY(50px);}
        // 90% {transform: translateY(153px);}
        100% {
            transform: translateY(-150px) rotate(-45deg);
            border-radius: 10px;
        }
    }

    @keyframes fourthDot {
        0% {
            transform: translateY(0px) rotate(-45deg);
            border-radius: 10px 10px 10px 1px;
        }
        // 50% {transform: translateY(50px);}
        // 90% {transform: translateY(103px);}
        100% {
            transform: translateY(-200px) rotate(-45deg);
            border-radius: 10px;
        }
    }

    @keyframes fifthDot {
        0% {
            transform: translateY(0px) rotate(-45deg);
            border-radius: 10px 10px 10px 1px;
        }
        // 30% {transform: translateY(50px);}
        // 90% {transform: translateY(153px);}
        100% {
            transform: translateY(-250px) rotate(-45deg);
            border-radius: 10px;
        }
    }

    @keyframes sixthDot {
        0% {
            transform: translateY(0px) rotate(-45deg);
            border-radius: 10px 10px 10px 1px;
        }
        // 30% {transform: translateY(50px);}
        // 90% {transform: translateY(153px);}
        100% {
            transform: translateY(-300px) rotate(-45deg);
            border-radius: 10px;
        }
    }

    // for dots to be in reverse direction
    @keyframes firstDotBack {
        0% {transform: translateY(-50px) rotate(-45deg);}
        // 90% {transform: translateY(53px);}
        100% {
            transform: translateY(0px) rotate(-45deg); 
            z-index: -1;
        }
    }

    @keyframes secondDotBack {
        0% {transform: translateY(-100px) rotate(-45deg);}
        // 50% {transform: translateY(50px);}
        // 90% {transform: translateY(103px);}
        100% {
            transform: translateY(0px) rotate(-45deg);
            z-index: -1;
        }
    }

    @keyframes thirdDotBack {
        0% {transform: translateY(-150px) rotate(-45deg);}
        // 30% {transform: translateY(50px);}
        // 90% {transform: translateY(153px);}
        100% {
            transform: translateY(0px) rotate(-45deg);
            z-index: -1;
        }
    }

    @keyframes fourthDotBack {
        0% {transform: translateY(-200px) rotate(-45deg);}
        // 50% {transform: translateY(50px);}
        // 90% {transform: translateY(103px);}
        100% {
            transform: translateY(0px) rotate(-45deg);
            z-index: -1;
        }
    }

    @keyframes fifthDotBack {
        0% {transform: translateY(-250px) rotate(-45deg);}
        // 30% {transform: translateY(50px);}
        // 90% {transform: translateY(153px);}
        100% {
            transform: translateY(0px) rotate(-45deg);
            z-index: -1;
        }
    }

    @keyframes sixthDotBack {
        0% {
            transform: translateY(-300px) rotate(45deg);
            border-radius: 1px 10px 10px 10px;
        }
        // 30% {transform: translateY(50px);}
        // 90% {transform: translateY(153px);}
        100% {
            transform: translateY(0px) rotate(45deg);
            border-radius: 10px;
            z-index: -1;
        }
    }
}



.MdAddCircle{
    color: $dark-gray;
    cursor: pointer;
}

.MdAddCircle__wrapper{
    box-shadow: 0px 0px 10px -2px $dark-gray;
    border-radius: 100%;
    & .MdAddCircle{
        font-size: 2rem;
    }
    &:hover{
        animation: spin; 
        animation-duration: 2s;
        & .MdAddCircle{
            color: $dark-pink;
            animation: pulse;
            animation-duration: 2s;
        }
    }
}

.noteList__wrapper{
    padding-bottom: 20px;
    overflow-y: scroll;
}

.dot__wrapper{
    position: relative;
    @media screen and (max-width:576px) {
        flex: 0 1 !important;
        background-color: #423737de;
        transition: flex-basis 1.0s linear;
        overflow: hidden;
        border-radius: 20px;
        bottom: 10px;
    }
    &--show{
        flex-basis: 340px !important;
    }
    &--hide{
        flex-basis: 0 !important;
    }
    &>span{
        display: none;
        width: 20px;
        height: 20px;
        position: absolute;
        box-shadow:0px 1px 5px -3px #3a3a3af7;
        border-radius: 1px 10px 10px 10px;
        cursor: pointer;
        @media screen and (max-width: 576px) {
            bottom: 5px !important;
            border-radius: 10px 10px 10px 1px;
        }

        &.dot__wrapper-soft-green{
            background: $soft-green;
        }
        &.dot__wrapper-off-green{
            background-color: $off-green;
        }
        &.dot__wrapper-off-pink{
            background-color: $off-pink;
        }
        &.dot__wrapper-in-pink{
            background-color: $in-pink;
        }
        &.dot__wrapper-soft-yellow{
            background-color: $soft-yellow;
        }
        &.dot{
            display: block;
            z-index: 1;
            transition: box-shadow 0.2s ease-in-out;
            &:hover{
                box-shadow: 0px 1px 4px -1px #3a3a3af7;
            }
            
            &:nth-of-type(6){
                animation-name: firstDot;
                animation-duration: 0.8s;
                animation-fill-mode: forwards;
            }
            &:nth-of-type(5){
                animation-name: secondDot;
                animation-duration: 1.2s;
                animation-fill-mode: forwards;
            }
            &:nth-of-type(4){
                animation-name: thirdDot;
                animation-duration: 1.5s;
                animation-fill-mode: forwards;
            }
            &:nth-of-type(3){
                animation-name: fourthDot;
                animation-duration: 1.7s;
                animation-fill-mode: forwards;
            }
            &:nth-of-type(2){
                animation-name: fifthDot;
                animation-duration: 2.0s;
                animation-fill-mode: forwards;
            }
            &:nth-of-type(1){
                animation-name: sixthDot;
                animation-duration: 2.2s;
                animation-fill-mode: forwards;
                width: 30px;
                height: 30px;
                font-size: 1.5rem;
                text-align: center;
                @media screen and (max-width:576px) {
                    border-radius: 20px 20px 20px 1px !important;
                    width: 25px;
                    height: 25px;
                    font-size: 1.3rem;
                }
            }

            // to reverse call the dots
            &.dotHide{
                &:nth-of-type(6){
                    animation-name: firstDotBack;
                    animation-duration: 0.8s;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(5){
                    animation-name: secondDotBack;
                    animation-duration: 1.2s;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(4){
                    animation-name: thirdDotBack;
                    animation-duration: 1.7s;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(3){
                    animation-name: fourthDotBack;
                    animation-duration: 1.9s;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(2){
                    animation-name: fifthDotBack;
                    animation-duration: 2.2s;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(1){
                    animation-name: sixthDotBack;
                    animation-duration: 2.4s;
                    animation-fill-mode: forwards;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    line-height: 25px;
                    overflow: hidden;
                    font-size: 1rem;
                }
            }
        }
    }
    
}

@keyframes growNote {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.noteSection{
    margin-top: 20px;
    overflow-y: scroll;
    padding: 5px;
    @media screen and (max-width:576px) {
        margin-top: 5px;
    }
    &__item{
        width: 30%;
        box-shadow:0px 0px 7px -4px #0b0a0a;
        border-radius: 6px;
        // margin-bottom: 20px !important;
        @media screen and (max-width:576px) {
            flex-basis: 100% !important;   
        }
        &.newNote{
            animation-name: growNote;
            animation-duration: 0.8s;
            animation-fill-mode: forwards;
        }
    }
    &__date{
        font-size: 0.7rem;
        color: $dark-gray;
    }
}

.noteTextArea{
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    padding: 5px;
    background-color: transparent;
    &:focus, &:active{
        outline: none;
    }
}

.logoutBtn{
    border: 1px solid $soft-gray;
    color: $dark-gray;
    padding: 5px 10px;
    border-radius: 4px;
    background: $good-white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover{
        background: $soft-gray-hover;
    }
}


.noteBtns{
    @extend .logoutBtn;
    border: 1px solid $opac-soft-gray;
    color: $opac-gray;
    padding: 2px;
    font-size: 1.5rem;
    &.bookmarked{
        color: $green-success;
    }
}

.welcomeNote{
    color: $dark-gray;
}

.note__header{
    background: $header-gray;
    padding: 5px 10px;
}

.note__avatar{
    &--name{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        @media screen and (max-width:300px) {
            max-width: 85px;
        }
    }
    &--image{
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }
}

.login__wrapper{
    padding:10px 20px;
    border: 1px solid $soft-gray;
    border-radius: 4px;
    background: $soft-blue;
    &>input{
        width:100%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid $soft-gray;
    }
    &>button{
        @extend .logoutBtn;
    }
}